name: Test Actions

on: 
  pull_request:
     branches: 
      - master
#   push:
#      branches: 
#       - test       
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Discord notification
      uses: Ilshidur/action-discord@master 
      with:
        args: '/tts En {{ EVENT_PAYLOAD.pull_request.user.login }} t'he assignat de reviewer en un PR. \t {{ EVENT_PAYLOAD.pull_request.url }} '
      env:
        DISCORD_WEBHOOK: ${{secrets.DISCORD_WEBHOOK}}
        DISCORD_USERNAME: {{ EVENT_PAYLOAD.pull_request.user.login }}
        DISCORD_AVATAR: {{ EVENT_PAYLOAD.pull_request.user.avatar_url }}
