name: Test Actions

on: 
  pull_request:
     branches: 
      - master
#   push:
#      branches: 
#       - test       
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Discord notification
      uses: Ilshidur/action-discord@master 
      with:
        args: "text prova"
      env:
        DISCORD_WEBHOOK: ${{secrets.ASD_WEBHOOK}}
        DISCORD_USERNAME: lmao  
        DISCORD_AVATAR: https://www.imgacademy.mx/themes/custom/imgacademy/images/helpbox-contact.jpg
#env:
       # DISCORD_WEBHOOK: ${{secrets.ASD_WEBHOOK}}
        #DISCORD_USERNAME: ${{ EVENT_PAYLOAD.pull_request.user.login }}
       # DISCORD_AVATAR: ${{ EVENT_PAYLOAD.pull_request.user.avatar_url }}
